.form {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

textarea {
    width: 50%;
    height: 50px;
    margin: 10px;
    padding-left: 5px;
    border-radius: 10px;
}

.form input[type=submit] {
    width: 50.5%;
    height: 50px;
    background-color: #55a1ff;
    color: white;
    border-radius: 10px;
}

.form input[type=submit]:hover {
    width: 50.5%;
    height: 50px;
}

.submit {
    text-align: center;
    color: red;
}